{% extends "security/base.html" %}

{% block security_content %}
    <h1>Change password</h1>
    <form class="form form-horizontal" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.csrf_token }}

        {{ wtf.horizontal_field(change_password_form.password) }}
        {{ wtf.horizontal_field(change_password_form.new_password) }}
        {{ wtf.horizontal_field(change_password_form.new_password_confirm) }}

        <div class="form-actions">
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </form>

    <p>
        Remembered your password? <a href="{{ url_for_security('login') }}">Try and login</a>
    </p>
{% endblock %}
