{% extends "security/base.html" %}

{% block security_content %}
    <h1>Reset your password</h1>
    <form class="form form-horizontal" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.csrf_token }}

        {{ wtf.horizontal_field(forgot_password_form.email) }}

        <div class="form-actions">
            <input type="submit" value="Reset password" class="btn btn-primary" />
        </div>
    </form>

    <p>
        Don't have an account yet? <a href="{{ url_for_security('register') }}">Create a new account</a><br />
        Remembered your password? <a href="{{ url_for_security('login') }}">Try and login</a>
    </p>
{% endblock %}


<h2>Menu</h2>
<ul>
  <li><a href="{{ url_for_security('login') }}">Login</a></li>
  {% if security.registerable %}
  <li><a href="{{ url_for_security('register') }}">Register</a><br/></li>
  {% endif %}
  {% if security.recoverable %}
  <li><a href="{{ url_for_security('forgot_password') }}">Forgot password</a><br/></li>
  {% endif %}
  {% if security.confirmable %}
  <li><a href="{{ url_for_security('send_confirmation') }}">Confirm account</a></li>
  {% endif %}
</ul