{% extends "security/base.html" %}

{% block security_content %}
    <legend>Reset your password</legend>
    <form class="form form-horizontal" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.csrf_token }}

        {{ wtf.horizontal_field(forgot_password_form.email) }}

        <div class="form-actions">
            <input type="submit" value="Reset password" class="btn btn-primary" />
        </div>
    </form>

    <p>
        {% if security.registerable %}
            Don't have an account yet? <a href="{{ url_for_security('register') }}">Create a new account</a><br />
        {% endif %}
        Remembered your password? <a href="{{ url_for_security('login') }}">Try and login</a>
    </p>
{% endblock %}
