{% extends "security/base.html" %}

{% block security_content %}
    <h1>Reset password</h1>
    <form class="form form-horizontal" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
        {{ login_user_form.csrf_token }}

        {{ wtf.horizontal_field(reset_password_form.password) }}
        {{ wtf.horizontal_field(reset_password_form.password_confirm) }}

        <div class="form-actions">
            <input type="submit" value="Reset password" class="btn btn-primary" />
        </div>
    </form>

    <p>
        Remembered your password? <a href="{{ url_for_security('login') }}">Try and login</a>
    </p>
{% endblock %}
